:root{
--max-width: 768px;
--btn-bgcolor: red;
--btn-color: #fff;
--head-bgcolor: #fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
}

#header-home{
    background: url('../IMAGES/nick-wilkerson-jiKT25xmqz0-unsplash.jpg')no-repeat center 30%/cover;
    height: 100vh;
}
.top-header-bg{
    background: #fff;
    opacity: .8;
}
#logo{
    border-bottom: red 1px solid;
}

.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    
}
h1{
    color: #000;
}
.btn{
    display: inline-block;
    font-size: 1.5rem;
    background: var(--btn-bgcolor);
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    margin: 0.5rem 0 1rem 0;
    color: var(--btn-color);

}
.btn:hover{
    background: #000;
    font-size: 1.7rem;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    
}
ul{
    display: flex;
    list-style: none;
    
}
.nav-menu ul li a{
    padding: 1rem;
}
.nav-menu ul li a:hover{
background: red;
}
.header-content{
    text-align: center;
    margin-top: 50%;
    border-bottom: 2px #fff solid;
    background: #fff4;
}
.header-content:hover{
    border-bottom: 2px #fff solid;
    background: #333;
}